@media screen and (max-width: 991px) {
  header video {
    position: relative;
    top: 50%;
    left: 50%;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  header {
    position: relative;
    height: 55vh;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background: #314755; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #26a0da,
      #314755
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #26a0da,
      #314755
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
@media screen and (max-width: 548px) {
  video {
    position: relative;

    margin: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    max-height: 520px !important;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  header {
    position: relative;
    height: 55vh;
    width: 100%;
    min-height: 60%;
    overflow: hidden;
  }
}
@media screen and (min-width: 991px) {
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  header {
    position: relative;
    height: 80vh;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
  }
}
header .container {
  z-index: 2;
}
/* header .overlay {
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 1;
} */
